.App {
}


.events-progress {
  border-radius: 0;
  height: 2px;
  background-color: transparent;
}
.events-progress .progress-bar {
  background-color: #FFF;
}

.control-btns {
  z-index: 999;
  position: fixed;
  top: 20px;
  left: 20px;
}
.events-counter {
  z-index: 999;
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0,0,0,0.6);
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  border-radius: .25rem;
}
.btn-scrape-events {
  z-index: 999;
  bottom: 20px;
  left: 20px;
  position: absolute;
  opacity: 0.05;
}

.App.row {
  margin: 0;
}
.app-row {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.map-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
}
#map {
  height: 100vh;
  width: 100%;
}
.settings-container {
  position: fixed;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  transition: 0.3s;
  right: 0;
  background: rgba(255,255,255,0.8);
  z-index: 9;
  padding: 20px;
}
.settings-container.hide {
  right: -500px;
}


.settings-container.hide .btn-settings {
  position: absolute;
  width: 100px;
  top: 20px;
  left: -120px;
  transition: 0.3s;
}
.settings-container .btn-settings {
  content: 'Hide Settings';
  transition: 0.3s;
  z-index: 999;
  position: absolute;
  width: 150px;
  top: 20px;
  left: 330px;
}
#settings .days-btns {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
#settings .days-btns .btn {
  width: 13%;
  margin: auto;
  border-color: transparent;
}
#settings .days-btns .btn.active {
  background-color: #2D7FE8;
}
#settings .days-btns .btn:hover {
  background-color: #41bef4;
}
#settings .days-btns .btn.active:hover {
  background-color: #f45342;
}
.settings-btns {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
}



.cards-container .list-group-item {
  background: rgba(255,255,255,0.5);
}
.cards-container .list-group-item:hover {
  background: rgba(255,255,255,1);
}

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
.card-img-top {
  height: 150px;
  width: 100%; 
}
.card-img-overlay .card-title, .card-img-overlay .card-text {
  display: inline;
  background: rgba(0,0,0,0.9);
  color: #FFF;
  padding: 3px 0;
  line-height: 28px;
  box-shadow: 10px 0 0 rgba(0,0,0,0.9), -10px 0 0 rgba(0,0,0,0.9);
}
.card-img-overlay .event-date {
  position: absolute;
  right: 0;
  top: 110px;
  line-height: 30px;
  padding: 5px 10px;
  box-shadow: none;
  background: rgba(247, 120, 9, 0.9);
}

.tags {
  margin-top: 6px;
}
.tag {
  border-radius: 5px;
  margin: 2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #FFF;
  display: inline-block;
}
.tag:first-of-type {
  margin-left: 0;
}
.tag:last-of-type {
  margin-right: 0;
}


.map-marker {
  opacity: 0;
  transition: 0.2s;
  background: #41bef4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}
.user-marker {
  background: purple;
  width: 5px;
  height: 5px;
}

.map-marker:hover {
  background: #f45342;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.infowindow {
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  background: #FFF;
  position: absolute;
  top:  0;
  transform: translateY(-100%) translateX(-50%);
  text-align: left;
  line-height: 16px;
}

.1settings-container {
  height: 100px;
  width: 100%;
  position: fixed;
  transition: 0.3s;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  z-index: 9;
  padding: 30px;

}

#1settings .filter-days-btns {
  display: inline-flex;
}
#1settings .filter-days-btns .btn {
  margin: 0 5px;
}
#se1ttings .filter-days-btns .btn.active {
  background-color: #2D7FE8;
}
#se1ttings .filter-days-btns .btn:hover {
  background-color: #41bef4;
}
#se1ttings .filter-days-btns .btn.active:hover {
  background-color: #f45342;
}

body {
  background-color: #FAFAFA;
}

@media only screen and (max-width: 960px) {
  .cards-container {
    width: 100%;
  }
}