.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.control-btns {
  z-index: 999;
  position: fixed;
  top: 20px;
  left: 20px;
}
.App.row {
  margin: 0;
}
.app-row {
  position: relative;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}
.map-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
}
#map {
  height: 100vh;
  width: 100%;
}
.cards-container {
  position: fixed;
  width: 400px;
  height: 100vh;
  transition: 0.3s;
  right: 0;
  background: rgba(255,255,255,0.7);
  z-index: 9;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cards-container .list-group-item {
  background: rgba(255,255,255,0.5);
}
.cards-container .list-group-item:hover {
  background: rgba(255,255,255,1);
}

.card {
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}
.card-img-top {
  height: 150px;
  width: 100%; 
}
.card-img-overlay .card-title, .card-img-overlay .card-text {
  display: inline;
  background: rgba(0,0,0,0.9);
  color: #FFF;
  padding: 3px 0;
  line-height: 28px;
  box-shadow: 10px 0 0 rgba(0,0,0,0.9), -10px 0 0 rgba(0,0,0,0.9);
}
.card-img-overlay .event-date {
  position: absolute;
  right: 0;
  top: 110px;
  line-height: 30px;
  padding: 5px 10px;
  box-shadow: none;
  background: rgba(247, 120, 9, 0.9);
}

.tags {
  margin-top: 6px;
}
.tag {
  border-radius: 5px;
  margin: 2px;
  padding: 3px 8px;
  font-size: 12px;
  color: #FFF;
  display: inline-block;
}
.tag:first-of-type {
  margin-left: 0;
}
.tag:last-of-type {
  margin-right: 0;
}


.map-marker {
  opacity: 0;
  transition: 0.2s;
  background: #41bef4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}
.user-marker {
  background: purple;
}

.map-marker:hover {
  background: #f45342;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.infowindow {
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
  background: #FFF;
  position: absolute;
  top:  0;
  transform: translateY(-100%) translateX(-50%);
  text-align: left;
  line-height: 16px;
}

.filter-container {
  height: 100px;
  width: 100%;
  position: fixed;
  transition: 0.3s;
  bottom: 0;
  background: rgba(255,255,255,0.7);
  z-index: 9;
  padding: 30px;
}

#filters .filter-days-btns {
  /*padding: 20px;*/
}
#filters .filter-days-btns .btn {
  margin: 0 5px;
}
#filters .filter-days-btns .btn.active {
  background-color: #2D7FE8;
}
#filters .filter-days-btns .btn:hover {
  background-color: #41bef4;
}
#filters .filter-days-btns .btn.active:hover {
  background-color: #f45342;
}


body {
  background-color: #FAFAFA;
}

@media only screen and (max-width: 960px) {
  .map-container {
    display: none;
  }
  .card-img-top {
    height: 200px;
  }
  .card-img-overlay .card-title, .card-img-overlay .card-text {
    line-height: 30px;
  }
  .card-img-overlay .event-date {
    top: 160px;
  }
}
